<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Core_Application.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Core_Application.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>testlog</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>testlog1234</value>
      </setting>
      <setting name="LinkSoftware" serializeAs="String">
        <value>ftp://10.208.180.20/DataLOG_Software/</value>
      </setting>
      <setting name="FolderFTPSoftware" serializeAs="String">
        <value>Update_Log_Manager/</value>
      </setting>
      <setting name="ProcessName" serializeAs="String">
        <value>Log Manager</value>
      </setting>
      <setting name="Localdir" serializeAs="String">
        <value>C:\Datalog_Application</value>
      </setting>
      <setting name="Coredir" serializeAs="String">
        <value>C:\Core</value>
      </setting>
      <setting name="FileEXE" serializeAs="String">
        <value>Log Manager.exe</value>
      </setting>
      <setting name="LinkVNC" serializeAs="String">
        <value>ftp://10.208.180.20/DataLOG_Software/VNC/</value>
      </setting>
      <setting name="LocalVNC" serializeAs="String">
        <value>C:\Core\VNC\</value>
      </setting>
    </Core_Application.Properties.Settings>
  </userSettings>
</configuration>