<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core_Application.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>apple</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pa31597</value>
            </setting>
            <setting name="LinkFW" serializeAs="String">
                <value>ftp://10.201.192.227/Aryal/Microsoft%20.NET%20Framework/</value>
            </setting>
            <setting name="LinkSoftware" serializeAs="String">
                <value>ftp://10.201.192.227/Aryal/Software/</value>
            </setting>
        </Core_Application.Properties.Settings>
    </userSettings>
</configuration>